{% extends 'base.html' %}
 
{% block title %}Профиль{% endblock %}
 
{% block content %}
    <div class="profile_back_block"><div class="profile_a"><a href="{% url 'blog:index' %}">На главную</a></div><p>{{user.last_name}} {{user.first_name}}</p></div>
    {% for p in posts %}
    		<a class="profile_view_profile_block" href="{% url 'blog:viewPost' user.id p.id %}">
    			<div class="p1_block"><p class="p1">{{p.post_title}}</p></div>
    			<div class="p2_block"><p class="p2">{{p.pub_date}}</p></div>
    		</a>
    {% endfor %}
{% endblock %}